name: test-paddle

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-and-test-paddle:
    name: Test Python ${{ matrix.python-version }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libnuma-dev gcc g++ make
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install torch==2.5.1 --index-url https://download.pytorch.org/whl/cpu
          pip install paddlepaddle==3.0.0
          pip install pytest pytest-cov setuptools_scm safetensors transformers==4.52
      - name: Build Package
        run: |
          pip install .
      - name: Run tests
        run: |
          cd tests
          LIBDIR=`python3 -c "import os; os.chdir('/tmp'); import fastsafetensors; print(os.path.dirname(fastsafetensors.__file__))"`
          mkdir -p /tmp/pytest-log
          COVERAGE_FILE=.coverage_0 pytest -s --cov=${LIBDIR} test_fastsafetensors.py > /tmp/pytest-log/0.log 2>&1
          COVERAGE_FILE=.coverage_1 CUDA_VISIBLE_DEVICES="" pytest -s --cov=${LIBDIR} test_fastsafetensors.py > /tmp/pytest-log/1.log 2>&1
          COVERAGE_FILE=.coverage_2 torchrun --nnodes=2 --master_addr=0.0.0.0 --master_port=1234 --node_rank=0 --no-python pytest -s --cov=${LIBDIR} test_multi.py > /tmp/pytest-log/2.log 2>&1 &
          COVERAGE_FILE=.coverage_3 torchrun --nnodes=2 --master_addr=0.0.0.0 --master_port=1234 --node_rank=1 --no-python pytest -s --cov=${LIBDIR} test_multi.py > /tmp/pytest-log/3.log 2>&1
          coverage combine .coverage_0 .coverage_1 .coverage_2 .coverage_3 .coverage_4
          coverage html
          mv htmlcov /tmp/pytest-log
      - name: upload pytest log
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: pytest-log-paddle-${{ matrix.python-version }}
          path: /tmp/pytest-log